@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,900;1,700&display=swap');

.bdy{
    padding: 0 !important;
    overflow-x: hidden !important;
    background-color: rgb(3, 3, 39);
    font-family: 'Poppins', sans-serif;
}

.clip{
    color: transparent;
    position: relative;
    background: linear-gradient(90deg, blueviolet 0%, rgb(246, 115, 136) 100%);
    background-clip: text;
    -webkit-background-clip: text;
}

.btn:hover{
    background-color: white !important;
    color: black !important;
}

a{
    text-decoration: none !important;
}

.col-md-2:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}


@media(max-width:425px){
    .hh{
        font-size: 57px !important;
    }
}
